cached-property==1.5.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
defusedxml==0.7.1
dnspython==2.6.1
exchangelib==5.1.0
idna==3.6
isodate==0.6.1
lxml==5.1.0
oauthlib==3.2.2
pycparser==2.21
Pygments==2.17.2
pyspnego==0.10.2
pywin32==306
requests==2.31.0
requests-ntlm==1.2.0
requests-oauthlib==1.3.1
six==1.16.0
sspilib==0.1.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
